.main-tabs-container--chat-room {
  background-color: #3e3c3f !important;
  border-radius: 30px !important;
  color: white !important;
}
.tab-element--chat-room {
  border-radius: 35px !important;
}

.tab-element--chat-room:focus {
  background-color: #1e1d1f !important;
  color: white !important;
}

.chats-section--chat-room {
  background-color: #3e3c3f !important;
  border-radius: 10px !important;
  margin-bottom: 10px;
}

.chats-background--chat-room {
  background-color: #3e3c3f !important;
  font-weight: normal;
}

.chat-container--chat-room {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  height: 100vh;
  gap: 5px;
}

.chats-container--chat-room {
  width: 100% !important;
}

.chats-info--chat-room {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  height: 100vh;
}

.button--chat-room {
  border-radius: 10px;
  height: 45px;
  background: linear-gradient(90deg, #005899 0%, #9258dc 100%);
  border: 0;
  outline: none;
  cursor: pointer;
  color: white;
  font-weight: 600;
  font-size: 16px;
  width: 100% !important;
  margin-bottom: 10px;
}

.search-input--chat-room {
  width: 100%;
}

.searchBar-Btn-container--chat-room {
  width: 100%;
}

.main-tabs--chat-room {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  width: 100%;
}

.top-level--chat-room {
  background-color: #3e3c3f;
}
.chat-display--chat-room {
  height: 100vh;
  padding: 15px;
  min-height: 650px;
}

.content-wrapper--chat-room {
  background-color: #3e3c3f;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.circle-state--chat-room {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.user-state--chat-room {
  background-color: #3e3c3f;
  gap: 8px;
  align-items: center;
}
