.message-wrapper--chat {
  padding: 10px;
  color: white;
  width: fit-content;
  border-radius: 5px;
  background-color: #3e3c3f;
  display: flex;
}

.info-wrapper--chat {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  background-color: #3e3c3f;
}

.message--chat {
  order: 2;
}

.time-container--chat {
  background-color: #3e3c3f;
  order: 1;
}
.message-time--chat {
  font-size: 11px;
  color: #aeaeae;
  background-color: #3e3c3f;
}
