.sendBtn-container--chat-room {
  padding: 10px;
  padding-bottom: 5px;
  background: #005899;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.sendBtn-container--chat-room svg {
  width: 27px;
  height: 27px;
  background-color: #005899;
}
